docs/infra/n8n_gitea_qa_workflow.json
{
  "name": "Gitea Push → Kensington QA Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gitea-push",
        "responseMode": "onReceived",
        "responseData": "allEntries"
      },
      "id": "webhook-trigger",
      "name": "Gitea Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "params-changed",
              "leftValue": "={{ JSON.stringify($json.commits) }}",
              "rightValue": "params/",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        }
      },
      "id": "filter-params",
      "name": "Params Changed?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "command": "cd /mnt/blender_buildings && python scripts/qa_params_gate.py 2>&1 | tail -20"
      },
      "id": "qa-gate",
      "name": "QA Params Gate",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [680, 200],
      "notes": "Runs the pre-generation quality gate on all param files"
    },
    {
      "parameters": {
        "command": "cd /mnt/blender_buildings && python scripts/audit_params_quality.py 2>&1 | tail -30"
      },
      "id": "audit-quality",
      "name": "Audit Param Quality",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [680, 400],
      "notes": "Comprehensive quality report on all param files"
    },
    {
      "parameters": {
        "command": "cd /mnt/blender_buildings && python scripts/audit_structural_consistency.py 2>&1 | tail -20"
      },
      "id": "audit-structural",
      "name": "Structural Consistency",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "command": "cd /mnt/blender_buildings && python scripts/audit_storefront_conflicts.py 2>&1 | tail -20"
      },
      "id": "audit-storefront",
      "name": "Storefront Conflicts",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [900, 400]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "summary",
              "name": "summary",
              "value": "=QA Gate: {{ $('QA Params Gate').item.json.stdout.slice(-200) }}\n\nQuality: {{ $('Audit Param Quality').item.json.stdout.slice(-200) }}\n\nStructural: {{ $('Structural Consistency').item.json.stdout.slice(-200) }}\n\nStorefronts: {{ $('Storefront Conflicts').item.json.stdout.slice(-200) }}",
              "type": "string"
            },
            {
              "id": "timestamp",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "pusher",
              "name": "pusher",
              "value": "={{ $('Gitea Webhook').item.json.pusher.login }}",
              "type": "string"
            },
            {
              "id": "repo",
              "name": "repo",
              "value": "={{ $('Gitea Webhook').item.json.repository.full_name }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "build-report",
      "name": "Build QA Report",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "mode": "id", "value": "" },
        "sheetName": { "__rl": true, "mode": "name", "value": "QA Log" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "log-to-sheet",
      "name": "Log to Google Sheet (Optional)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1340, 400],
      "disabled": true,
      "notes": "Enable and configure if you want QA results in a Google Sheet"
    }
  ],
  "connections": {
    "Gitea Webhook": {
      "main": [
        [{ "node": "Params Changed?", "type": "main", "index": 0 }]
      ]
    },
    "Params Changed?": {
      "main": [
        [
          { "node": "QA Params Gate", "type": "main", "index": 0 },
          { "node": "Audit Param Quality", "type": "main", "index": 0 }
        ]
      ]
    },
    "QA Params Gate": {
      "main": [
        [{ "node": "Structural Consistency", "type": "main", "index": 0 }]
      ]
    },
    "Audit Param Quality": {
      "main": [
        [{ "node": "Storefront Conflicts", "type": "main", "index": 0 }]
      ]
    },
    "Structural Consistency": {
      "main": [
        [{ "node": "Build QA Report", "type": "main", "index": 0 }]
      ]
    },
    "Storefront Conflicts": {
      "main": [
        [{ "node": "Build QA Report", "type": "main", "index": 0 }]
      ]
    },
    "Build QA Report": {
      "main": [
        [{ "node": "Log to Google Sheet (Optional)", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "kensington" },
    { "name": "qa" },
    { "name": "gitea" }
  ]
}
